@font-face {
  font-family: 'die-grotesk';
  src:
    url('../assets/fonts/die-grotesk.woff2') format('woff2'),
    url('../assets/fonts/die-grotesk.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
