// 1. Abstracts
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'abstracts/placeholders';
@import 'abstracts/overrides';

// 2. Vendors (must come before base styles if needed)
@import 'vendors/normalize';
@import 'vendors/woocommerce';

// 3. Base
@import 'base/reset';
@import 'base/typography';
@import 'base/base';

// 4. Layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/grid';

// 5. Components
@import 'components/buttons';
@import 'components/sort';
@import 'components/cards';
@import 'components/product-grid';
@import 'components/nav';
@import 'components/preloader';
@import 'components/mobile-nav';

// 6. Pages
@import 'pages/home';
@import 'pages/single-product';

// 7. Themes
@import 'themes/default';
