// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin container($top: 0, $bottom: 0) {
  // max-width: 1440px;
  max-width: 100%;
  width: 100%;
  position: relative;
  margin: $top auto $bottom auto;
  box-sizing: border-box;
  padding: 1.25rem 1.25rem;
}
@mixin container-sml($top: 0, $bottom: 0) {
  max-width: 1600px;
  // max-width: 100%;
  width: 100%;
  position: relative;
  margin: $top auto $bottom auto;
  box-sizing: border-box;
  // padding: 1.25rem 1.25rem;
}
@mixin grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
@mixin type($top: 0, $bottom: 0) {
  font-family: 'die-grotesk';
  // color: #222;
}

@mixin animation-delay {
  animation: fadein 900ms;
  animation-delay: 1.1s;
  -moz-animation: fadein 800ms; /* Firefox */
  -moz-animation-delay: 1.1s;
  -webkit-animation: fadein 800ms; /* Safari and Chrome */
  -webkit-animation-delay: 1.1s;
  -o-animation: fadein 1200ms; /* Opera */
  opacity: 0;
  animation-fill-mode: forwards;
}

@mixin default-btn($top: 0, $bottom: 0) {
  background-color: #333333;
  font-weight: 500 !important;
  color: #ffffff;
  border-radius: 5px;
  font-size: 0.8em !important;
  margin: 0 16px;
  display: flex;
  align-items: center;
  height: 63px;
  justify-content: center;
}

@mixin btn-rnd($top: 0, $bottom: 0) {
  background-color: #fff !important;
  border: 1px solid #dddcdc;
  cursor: pointer;
  padding: 5px 12px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 500;
  color: #000 !important;
  min-height: 28px;
  box-sizing: border-box;

  // ADD THIS LINE HERE
  outline: none !important;

  &.is-active,
  &:focus,
  &:active {
    background-color: #fff !important;
    color: #000;
    // AND ADD IT HERE TO OVERRIDE CHROME'S DEFAULT FOCUS STATE
    outline: none !important;
    box-shadow: none !important;
  }
}

@mixin clean-link($color: inherit, $active-color: $color) {
  color: $color;
  text-decoration: none;

  &:link,
  &:visited {
    color: $color;
  }

  &:hover {
    text-decoration: none;
  }
  &:focus,
  &:active {
    color: $active-color;
    outline: 2px solid transparent; // Optional: preserve focus visibility for a11y
    outline-offset: 2px;
  }
}
