// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin container($top: 0, $bottom: 0) {
  max-width: 1600px;
  width: 100%;
  position: relative;
  margin: $top auto $bottom auto;
  box-sizing: border-box;
  padding: 20px 20px;
}

@mixin animation-delay {
  animation: fadein 900ms;
  animation-delay: 1.1s;
  -moz-animation: fadein 800ms; /* Firefox */
  -moz-animation-delay: 1.1s;
  -webkit-animation: fadein 800ms; /* Safari and Chrome */
  -webkit-animation-delay: 1.1s;
  -o-animation: fadein 1200ms; /* Opera */
  opacity: 0;
  animation-fill-mode: forwards;
}

@mixin default-btn($top: 0, $bottom: 0) {
  background-color: #333333;
  font-weight: 500 !important;
  color: #ffffff;
  border-radius: 5px;
  font-size: 0.8em !important;
  margin: 0 16px;
  display: flex;
  align-items: center;
  height: 63px;
  justify-content: center;
}

@mixin btn-rnd($top: 0, $bottom: 0) {
  background: none;
  border: 1px solid #dddcdc;
  cursor: pointer;
  padding: 5px 12px;
  border-radius: 50px; /* Creates the pill shape */
  font-size: 1rem;
  font-weight: 500;
  color: #000; /* Text color */
  min-height: 28px; /* Ensures good touch target */
  box-sizing: border-box;
}
