.home .entry-title,
.home .page-title,
.home h1.entry-title .woocommerce-products-header__title {
  display: none !important;
}

.storefront-product-pagination {
  display: none !important;
}
.edit-link {
  display: none;
}
.product_meta {
  display: none;
}
.page-title {
  display: none !important;
}

.site-header {
  // padding: 20px 40px !important;
  margin: 0px 0px !important;
  padding: 0 !important;
  border-bottom-color: transparent !important;

  margin-top: -1px !important;
}
.site-main {
  // background-image: url('../assets/images/plantground-closeup.jpg');
}
