.home .entry-title,
.home .page-title,
.home h1.entry-title .woocommerce-products-header__title {
  display: none !important;
}
img,
.wp-post-image,
.plantground-gallery-image,
.plantground-product-gallery img,
.product__container img,
.woocommerce-product-gallery__image img {
  border-radius: 0 !important;
}

.storefront-product-pagination {
  display: none !important;
}
.edit-link {
  display: none;
}
.product_meta {
  display: none;
}
.page-title {
  display: none !important;
}

.site-header {
  // padding: 20px 40px !important;
  margin: 0px 0px !important;
  padding: 0 !important;
  border-bottom-color: transparent !important;

  margin-top: -1px !important;
}
.site-main {
  // background-image: url('../assets/images/plantground-closeup.jpg');
  margin-top: 160px;
}

.single-product .woocommerce-product-gallery {
  max-width: 100%;
  margin: 0 auto 2rem;
}

.single-product .woocommerce-product-gallery .wp-post-image {
  width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
.wc-block-grid__product-title {
  color: unset !important;
}

// .storefront-full-width-content.single-product div.product .woocommerce-product-gallery {
//   width: 50% !important;
// }
