.home .entry-title,
.home .page-title,
.home h1.entry-title .woocommerce-products-header__title {
  display: none !important;
}

.storefront-product-pagination {
  display: none !important;
}
.edit-link {
  display: none;
}
.product_meta {
  display: none;
}
.page-title {
  display: none !important;
}
