@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

#single-product-wrapper {
  background-color: $light-grey-color !important;
  padding: 0 50px;
}

.single-product div.product {
  margin-top: 100px;
}
.single-product__container {
  @include container-sml;
}
