@use '../abstracts/variables' as *; // or `as vars;` and then use vars.$light-grey-color

#single-product-wrapper {
  background-color: $light-grey-color !important;
  padding: 0 50px;
}

.single-product div.product {
  margin-top: 100px;
}
