@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// 1. Variables
$hero-height-mobile: 300px;
$hero-height-desktop: 270px; // Updated to your new height

// 2. The Frame (Container)
.custom-container {
  margin: 0 auto;
  @include container;
  padding: 0;
  background-color: #f7f7f7;
}

.hero-banner {
  position: relative;
  width: 100%;
  height: $hero-height-mobile;
  overflow: hidden;

  @media (min-width: 768px) {
    height: $hero-height-desktop;
  }
}

// 3. Base Image Styles
.parallax-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  will-change: transform;
}

// 4. Mobile Specific
.parallax-img.mobile-img {
  height: 170%;
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}

// 5. Desktop Specific
.parallax-img.desktop-img {
  display: none;
  // Increased to 140% to allow for a nice "floaty" feel in a short banner
  height: 140%;

  object-position: 45% 50%;

  @media (min-width: 768px) {
    display: block;
    transform: translate(-50%, -50%);
  }
}
