@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// 1. Variables
$hero-height-mobile: 300px;
$hero-height-desktop: 420px;

// 2. The Frame (Container)
.custom-container {
  //   background-color: #f7f7f7;
  background-color: #00a562;
  padding: 0;
  width: 100%;
  margin: 0;

  @media (min-width: 768px) {
    display: block;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    background-clip: content-box;
  }
}

.hero-banner {
  //   margin-top: 1.75rem;
  position: relative;
  width: 100%;
  height: $hero-height-mobile;
  overflow: hidden;

  // Use an inset box-shadow instead of a border.
  // This places the 1px line INSIDE the container so the height
  // stays exactly 300px/270px and the image doesn't jump.
  //   box-shadow: inset 0 -1px 0 0 #eceaea;

  @media (min-width: 768px) {
    height: $hero-height-desktop;
  }
}

// 3. Base Image Styles
.parallax-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  will-change: transform;
}

// 4. Mobile Specific
.parallax-img.mobile-img {
  height: 170%;
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}

// 5. Desktop Specific
.parallax-img.desktop-img {
  display: none;
  height: 140%;
  object-position: 45% 50%;

  @media (min-width: 768px) {
    display: block;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 768px) {
  .hero-banner {
    margin-top: 5.75rem;
  }
}
