@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// 1. Variables
$hero-height-mobile: 300px;
$hero-height-desktop: 270px;

// 2. The Frame (Container)
.custom-container {
  padding: 0;
  width: 100%;
  margin: 0;
  // We keep the background color here
  background-color: #f7f7f7;

  @media (min-width: 768px) {
    // Instead of margin: auto (which creates huge gaps),
    // we use padding to force exactly 20px of the body color to show.
    display: block;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    // This tells the background-color to ONLY fill the area inside the padding
    background-clip: content-box;
  }
}

.hero-banner {
  margin-top: 110px;
  position: relative;
  width: 100%;
  height: $hero-height-mobile;
  overflow: hidden;

  @media (min-width: 768px) {
    height: $hero-height-desktop;
    // On desktop, the banner takes up 100% of the space inside the 20px padding
  }
}

// 3. Base Image Styles
.parallax-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  will-change: transform;
}

// 4. Mobile Specific
.parallax-img.mobile-img {
  height: 170%;
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}

// 5. Desktop Specific
.parallax-img.desktop-img {
  display: none;
  height: 140%;
  object-position: 45% 50%;

  @media (min-width: 768px) {
    display: block;
    transform: translate(-50%, -50%);
  }
}
