@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.nav__info-bar {
  @include type;
  width: 100%;
  height: 32px;
  background: linear-gradient(90deg, #0f1714 0%, #1c3d32 100%);
  font-size: 0.7875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1001;
  //   text-transform: uppercase;
  color: #f7f7f7 !important;
  &__message {
    position: absolute;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    white-space: nowrap;
    pointer-events: none;
    z-index: 1;

    &.visible {
      opacity: 1;
      pointer-events: auto;
      z-index: 10;
    }
    // No need for a separate .hidden opacity 0 if base is 0
  }
}

.ship-date {
  color: yellow !important;
}
