@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.nav__info-bar {
  @include type;
  margin-top: 0px;
  width: 100%;
  height: 90px;
  background-color: #f7f7f7;
  color: #585858 !important;
  //   font-family: 'Space Mono', monospace;
  font-size: 0.8875rem;
  //   text-transform: uppercase;

  // These 3 lines center any direct children
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative; // Required so absolute messages stay inside here
  z-index: 1001;
  transition: transform 0.3s ease;

  &__message {
    // REMOVED: transform: translate(-50%, -50%);

    position: absolute; // Allows messages to sit on top of each other
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    white-space: nowrap;
    pointer-events: none;
    z-index: 1;

    &.visible {
      opacity: 1;
      pointer-events: auto;
      z-index: 10;
    }

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.ship-date {
}
