/* === PRELOADER === */
.pg-preloader {
  position: fixed;
  inset: 0;
  background: #00a562;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 22px;
  pointer-events: none;
}

.pg-preloader__inner {
  position: relative;
  display: inline-block;
  overflow: hidden; // acts as mask "window"
}

.pg-preloader__logo {
  max-width: 260px;

  display: block;
  opacity: 0; // start hidden
  transform: translateY(0); // GSAP will slide this upward
  color: #fff;
}

.pg-preloader.pg-preloader--done {
  opacity: 0;
  visibility: hidden;
}

/* === NAV LOGO REVEAL === */
.nav-logo__inner {
  position: relative;
  display: inline-block;
  overflow: hidden; // mask window
  height: auto;
}

.nav-logo__img {
  display: block;
  opacity: 0; // GSAP will fade/show
  transform: translateY(100%); // start below view, GSAP animates up
}

/* === Content Hide/Show === */
body.pg-content-hidden main,
body.pg-content-hidden footer,
body.pg-content-hidden .nav__info-bar {
  opacity: 0;
}

.pg-no-preloader #pg-preloader {
  display: none !important;
}

.pg-content-hidden .nav__info-bar {
  opacity: 1 !important;
  visibility: visible !important;
}

@media (max-width: 768px) {
  .pg-preloader__logo {
    width: 130px;
    margin-left: 8px;
  }
}
