@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
  margin-top: 6.25rem !important; // 100px
}

ul.products li.product img,
ul.products .wc-block-grid__product img,
.wc-block-grid__products li.product img,
.wc-block-grid__products .wc-block-grid__product img {
  margin: 0 auto !important;
}

ul.columns-3,
ul.columns-4 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-inline-start: 0;
  list-style: none;
  gap: 0.25rem; // 4px

  img {
    max-width: 73%;
    height: auto;
    margin: auto;
    display: flex;
  }

  &::before,
  &::after {
    content: unset !important;
  }
}

.woocommerce-LoopProduct-link {
  background-color: $light-grey-color;
}

.product__container {
  span.onsale {
    display: none;
  }
}

.product__info {
  margin-top: 0.3625rem !important; // 9px
  padding-left: 0.25rem !important; // 4px
  padding-top: 0.4rem;
  background-color: #fff;
  height: 3.8625rem; // 49px
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0.1rem;
  position: relative;
  @include type;
}

.product-grid__container {
  @include container;
  padding-top: 0 !important;
}

ul.products li.product .price {
  margin-bottom: 0 !important;
}

.product {
  &__container {
    padding: 0;
    grid-column: span 3 !important;
    width: 100% !important;
    margin-bottom: 0.5rem !important; // 8px

    img {
      margin-bottom: 5.125rem; // 82px
      padding: 0;
    }

    h2 {
      font-size: 0.75rem; // 12px
      font-weight: 600;
      white-space: nowrap; /* Prevents wrapping to a second line */
      overflow: hidden; /* Hides the extra text */
      text-overflow: ellipsis; /* Adds the '...' */
      max-width: 24ch;
      color: #686868;
      margin: 0 !important;

      &:hover {
        text-decoration: underline;
      }
    }

    .price {
      font-size: 0.932rem; // Corrected typo from 1.2m
      font-weight: 500 !important;
      background-color: #fff !important;
      margin-top: 0 !important;
    }

    .products ul li {
      margin-bottom: 0;
    }
  }

  .ul.products li.product img,
  ul.products .wc-block-grid__product img,
  .wc-block-grid__products li.product img,
  .wc-block-grid__products .wc-block-grid__product img {
    margin: 0 auto !important;
  }

  &__name {
    font-size: 1rem;
    font-weight: 400;
    color: #686868;
    margin-top: 0.375rem; // 6px
    position: absolute;
  }

  &__shipping {
    font-size: 0.75em;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    border: 0.0625rem solid #dfdfdf; // 1px
    background-color: #fff;
    color: #aeadad;
    position: absolute;
    top: 1.375rem; // 22px
    right: 1.375rem; // 22px
    height: 1.375rem; // 22px
    width: 2.8125rem; // 45px
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.product__shipping-img {
  width: 1.0625rem; // 17px
  display: inline-flex !important;
  padding: 0 !important;
  margin: 0 0.25rem -0.125rem 0 !important; // 0 4px -2px 0
  color: #fff;
}

.plantground__sort {
  float: right;
}

ul.products li.product .button {
  display: none !important;
}

// Responsive
@media (min-width: 1900px) {
  .product__container {
    grid-column: span 3 !important;
  }
}

@media (max-width: 768px) {
  .product-grid__container {
    @include container;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .product__info {
    background-color: #fff;
    height: 3.8625rem; // 49px
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
  }
  ul.columns-3,
  ul.columns-4 {
    margin: 0 0.25rem !important; // 4px
  }

  .product__container {
    grid-column: span 6 !important;
    padding: 0;
    margin-bottom: 0 !important;

    h2 {
      margin-bottom: 0.25rem !important; // 4px
    }

    .price {
      font-size: 0.8em;
      font-weight: 400 !important;
    }
  }
}

html,
body {
  overflow-x: hidden;
}

.products li.product__container {
  opacity: 0;
}
