.woocommerce-ordering .orderby {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 6px;
  // padding: 0.5em 2.5em 0.5em 0.9em; /* Extra padding for the custom arrow */
  font-size: 0.95rem;
  color: #111;
  cursor: pointer;
  line-height: 1.4;
  min-width: 180px;
}

.woocommerce-ordering .orderby::after {
  content: '';
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #333; /* Creates a clean triangle */
  pointer-events: none;
}

/* Hide any default arrows */
.woocommerce-ordering .orderby::-ms-expand {
  display: none; /* Hides arrow in IE/Edge */
}
.choices {
  margin-bottom: 0 !important;
}
.choices__list--dropdown,
.choices__list[aria-expanded] {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.choices__list--dropdown {
  border-radius: 0px !important;
}
.choices__inner {
  background-color: #fff !important;
  border: none !important;
  // border-radius: 6px;
  // padding: 0.5em 2.5em 0.5em 0.9em;
  padding: 0 0 !important;
  font-size: 0.95rem;
  color: #111;
  cursor: pointer;
  min-width: 110px;
  min-height: 26px !important;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

.choices__list--dropdown {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 4px;
  font-size: 0.95rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.choices__item--selectable {
  // padding: 0.5em 0.9em;
  cursor: pointer;

  &:hover {
    background-color: #f7f7f7;
  }
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  width: 264px !important;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  margin-top: 14px;
}
.choices__list--single {
  padding: 0 !important;
}
