.nav {
  &__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  &__flex {
    justify-content: space-between;
  }
  &__logo {
    font-size: 1.8rem;
    font-weight: 700;
  }
}
