@use '../abstracts/variables' as vars;

.footer-grid {
  display: grid;
  grid-template-columns: 22% 22% auto;
  background-color: vars.$light-grey-color;
  border: 1px solid #fff;
  border-top: none; /* Remove top border of container */
  border-bottom: none; /* Remove bottom border of container */
  font-size: 11px;
}

.footer-cell {
  padding: 2px;
  text-align: left;
  display: flex;
  min-height: 30px;
}

/* Add top border to all cells except the first row (positions 1, 2, 3) */
.footer-grid > :not(:nth-child(-n + 3)) {
  border-top: 1px solid #dfdcdc;
}
